.landing-page h1 {
    padding: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.auth-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    padding: 0 4rem;
    margin-top: 4rem;
}

.auth-section app-login-form,
.auth-section app-register-form {
    flex: 1;
}