services:
  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 4200:80

  api:
    build: ./backend
    ports:
      - 3000:3000
      
  db:
    image: mongo:8
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: 