services:
  mongo:
      container_name: library-db
      image: mongo:8
      restart: always
      ports:
        - 27017:27017
      volumes:
        - mongo_data:/data/db

  node:
    build: ./backend
    ports:
      - 3000:3000
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  angular:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 4200:80
    depends_on:
      - node

volumes:
  mongo_data: 