.home-page {
    display: flex;
    flex-direction: row;
}

/* Book Section */
.book-section {
    flex: 4;
    display: flex;
    flex-direction: column;
    height: 95vh;
    border: 1px solid silver;
}
.book-section h1 {
    flex: 1;
    padding: 0 1rem;
    margin: 0;
    display: flex;
    align-items: center;
}

/* List of Books */
.book-list {
    border: 1px solid darkgreen;
    flex: 6;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: scroll;
}

.book-single {
    width: fit-content;
    height: fit-content;
    border: 1px solid green;
    margin: 0;
}
.book-single > * {
    margin: 0;
    border: 1px solid greenyellow;
}
.book-single p {
    width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    text-align: center;
}
.book-single img {
    display: block;
    height: 8rem;
    width: 8rem;
    transition: transform .2s;
}
.book-single:hover {
    cursor: pointer;
}
.book-single:hover img {
    transform: scale(1.2);
}

/* Profile */
.profile-section,
.profile-section > * {
    
}
.profile-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 95vh;
}
.profile-section > * {
    margin: 0 0.8rem;
}
.profile-section h2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}
.profile-section p {
    flex: 4;
    border-bottom: 1px solid grey;
}
.profile-section button {
    flex: 1;
    margin: 1.2rem 0.8rem;
}