.home-page {
    display: flex;
    flex-direction: column;
}
.home-page h1 {
    padding: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.home-body {
    display: flex;
    flex-direction: row;
}

/* List of Books */
.bookshelf {
    flex: 3;
    height: 79vh;
    border: 1px solid silver;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: scroll;
}

.book-card {
    width: fit-content;
    height: fit-content;
    margin: 0;
}
.book-card > * {
    margin: 0;
}
.book-card p {
    width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    text-align: center;
}
.book-card p:hover {
    overflow: visible;
    text-overflow: clip;
    background-color: white;
    white-space: normal;
}
.book-card img {
    display: block;
    height: 8rem;
    width: 8rem;
    transition: transform .2s;
}
.book-card:hover {
    cursor: pointer;
}
.book-card:hover img {
    transform: scale(1.1);
}

/* Profile */
.profile-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 87vh;
}
.profile-section > * {
    margin: 0 0.8rem;
}
.profile-section h2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}
.profile-section button {
    flex: 1;
    margin: 1rem;
}
.profile-section button:hover {
    background-color: lightcoral;
    color: white;
}

.user-books {
    flex: 5;
    border-bottom: 1px solid grey;
    overflow-y: scroll;
}

.user-books-card {
    display: flex;
    border: 1px solid grey;
    padding: 0.2rem;
}

.user-books-card-text {
    flex: 4;
}
.user-books-card-text p {
    font-size: 0.7rem;
}
.user-books-card-text p:first-of-type {
    font-size: 0.8rem;
    font-weight: bold;
}

.user-books-card-button {
    flex: 1;
    display: flex;
    align-items: center;
}
.user-books-card-button button {
    width: 2rem;
    height: 2rem;
}