.home-page {
    display: flex;
    flex-direction: column;
}
.home-page h1 {
    padding: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.home-body {
    display: flex;
    flex-direction: row;
}

/* List of Books */
.book-list {
    flex: 4;
    height: 79vh;
    border: 1px solid silver;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: scroll;
}

.book-card {
    width: fit-content;
    height: fit-content;
    border: 1px solid green;
    margin: 0;
}
.book-card > * {
    margin: 0;
    border: 1px solid greenyellow;
}
.book-card p {
    width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    text-align: center;
}
.book-card img {
    display: block;
    height: 8rem;
    width: 8rem;
    transition: transform .2s;
}
.book-card:hover {
    cursor: pointer;
}
.book-card:hover img {
    transform: scale(1.2);
}

/* Profile */
.profile-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 87vh;
}
.profile-section > * {
    margin: 0 0.8rem;
}
.profile-section h2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}
.profile-section p {
    flex: 5;
    border-bottom: 1px solid grey;
}
.profile-section button {
    flex: 1;
    margin: 1rem;
}