.home-page {
    display: flex;
    flex-direction: row;
}

/* Book Section */
.book-section {
    flex: 4;
    display: flex;
    flex-direction: column;
    height: 95vh;

    border: 1px solid blue;
}

.book-section h1,
.book-section p {
    border: 1px solid cyan;
    margin: 0;
}

.book-section h1 {
    flex: 1;
    padding: 0 1rem;
}

.book-section p {
    flex: 6
}

/* Profile */
.profile-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 95vh;

    border: 1px solid indigo;
}

.profile-section > * {
    margin: 0 0.8rem;
}

.profile-section h2 {
    flex: 1;
    display: flex;
    align-items: center;

    border-bottom: 1px solid grey;
}

.profile-section p {
    flex: 4;
    border-bottom: 1px solid grey;
}

.profile-section button {
    flex: 1;
    margin: 1.2rem 0.8rem;
}