.booking-page {
    display: flex;
    flex-direction: column;
}
.booking-page h1 {
    padding: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.detail-card {
    display: flex;
    flex-direction: row;
    height: 85vh;
    margin-right: 4rem;
}
.detail-card img {
    width: 24rem;
    height: 24rem;
    align-self: center;
    padding: 4rem;
}
.detail-card .details {
    flex: 1;
    padding-left: 2rem;
    border: 1px solid silver;
}

.back-button {
    height: 3rem;
    width: 3rem;
}

/* .details */
.details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.details > * {
    border: 1px solid goldenrod;
}
.details table { width: 60%; }
.details th {
    font-weight: normal;
    text-align: left;
    padding-left: 2rem;
}
.details td {
    padding-left: 2rem;
}

/* Txn Elements */
.reserve-btn,
.borrow-form select,
.borrow-form button {
    width: 8rem;
    height: 2rem;
}
.borrow-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}