.booking-page {
    display: flex;
    flex-direction: column;
}
.booking-page h1 {
    padding: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.detail-card {
    display: flex;
    flex-direction: row;
    height: 85vh;
}

.detail-card img {
    width: 24rem;
    height: 24rem;
    align-self: center;
    padding: 4rem;
    transition: transform .2s;
}
.detail-card img:hover {
    transform: scale(1.1);
}
.detail-card .details {
    flex: 1;
    padding-left: 4rem;

    border: 1px solid darkblue;
}