.auth-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    margin-top: 4rem;
}

.auth-section app-login-form,
.auth-section app-register-form {
    flex: 1;
}