form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem 4rem;
    border: 1px solid black;
    height: 16rem;
    align-content: center;
}

input[type=text],
input[type=email],
input[type=password] {
    height: 1.2rem;
    padding: 0.4rem;
}

button {
    padding: 0.4rem;
}